<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAP APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        .icon-box {
        border: 2px solid #ccc; /* Adjust border properties as needed */
        padding: 15px;
        text-align: center;
        }

        .icon-box i {
        margin-bottom: 10px; /* Adjust the spacing between icons and text */
        }
    </style>

</head>
<body>
    {% include 'nav.html' %}

    <div class="container mt-5">
        <div class="row">
            <h2>Sales</h2>
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-file-invoice-dollar fa-3x"></i>
              <p>Quotes</p>
            </div>
          </div>
      
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-file-invoice fa-3x"></i>
              <p>Invoices</p>
            </div>
          </div>
      
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-address-book fa-3x"></i>
              <p>Customers</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <h2>Production</h2>
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-file-invoice fa-3x"></i>
              <p>Production Control</p>
            </div>
          </div>
      
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <a href="jobs"><i class="fas fa-file fa-3x"></i></a>
              <p>Jobs</p>
            </div>
          </div>
      
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-truck fa-3x"></i>
              <p>Shipment</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-clipboard-list fa-3x"></i>
              <p>Tasks</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-address-book fa-3x"></i>
              <p>Approvals</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-address-book fa-3x"></i>
              <p>Packages</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <h2>Inventory</h2>
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-file-invoice-dollar fa-3x"></i>
              <p>Tasks</p>
            </div>
          </div>
      
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-file-invoice fa-3x"></i>
              <p>Approvals</p>
            </div>
          </div>
      
          <div class="col-md-4 text-center">
            <div class="icon-box">
              <i class="fas fa-address-book fa-3x"></i>
              <p>Packages</p>
            </div>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>